  ports: # ports to be used when actively reaching a service
    - 80
    - 443
options:
  resolvers: 
    - 8.8.8.8
    - 1.1.1.1
    - 64.6.64.6
    - 1.0.0.1
    - 8.8.4.4
    - 77.88.8.1
  datasources: "./amass.keys" # the file path that will point to the data source configuration
  wordlist: # global wordlist(s) to uses 
    - "../wordlists/deepmagic.com_top50kprefixes.txt"
    - "../wordlists/deepmagic.com_top500prefixes.txt"
  database: "postgres://username:password@localhost:5432/database?testing=works" # databases URI to be used when adding entries
  bruteforce: # specific option to use when brute forcing is needed
    enabled: false
    wordlists: # wordlist(s) to use that are specific to brute forcing
      - "../wordlists/subdomains-top1mil-5000.txt"
  alterations: # specific option to use when brute forcing is needed
    enabled: false
    wordlists: # wordlist(s) to use that are specific to alterations
      - "../wordlists/subdomains-top1mil-5000.txt"
