#Installs

go install github.com/tomnomnom/assetfinder@latest
go install github.com/tomnomnom/waybackurls@latest
go install github.com/lc/gau/v2/cmd/gau@latest
go install github.com/tomnomnom/httprobe@latest

# Config files that can be updated with APIkeys

Amass:
~/.config/amass/config.ini

theHarvester:
/etc/theHarvester/api-keys.yaml
